<div class="pcoded-content">
  <!-- Page-header start -->
  <div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-header-title">
            <h5 class="m-b-10">Dashboard</h5>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb-title">
            <li class="breadcrumb-item">
              <a href="/"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  <div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- Page-body start -->
        <div class="page-body">
          <div class="row">
            <!-- task, page, download counter  start -->
            {{#if faculties}}
              {{#each faculties}}
                <div class="col-xl-4 col-md-6">
                  <div class="card">
                    <div class="card-block">
                      <div class="row align-items-center">
                        <div class="col-12" style="text-align: center">
                          <img
                            src="./assets/images/3.png"
                            alt=""
                            style="width: 14rem"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-muted bg-primary">
                      <div
                        class="text-white"
                        style="text-align: center; font-size: 1rem"
                      >
                        <div class="text-white" style="text-align: center">
                          <a
                            href="/contribution"
                            style="color: white; font-size: 1rem"
                            >{{ name }}</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{else}}
              <b>No faculties found.</b>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
