.navbar {
  z-index: 50 !important;
}

.custom-alert {
  width: 25rem; 
  position: absolute; 
  top: 0.5rem; 
  right: 0.5rem; 
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-alert button {
  margin: 0;
}

.pcoded-content {
  margin-bottom: 3rem;
}

.custom-card:hover{
  transform:scale(1.03);
}

.custom-tr:hover {
  background-color: rgb(248, 248, 248);
  cursor: pointer;
}

footer {
  margin-top: 10rem;
  padding: 2rem 0rem;
  background-color: #f9fafb;
}

.required-field::after {
  content: "*";
  color: red;
  margin-left:2px;
}

.custom-card-header {
  /* border-bottom: #448aff solid 2px !important; */
  background-color: #448aff !important;
  color: white !important;
}

#pagination-nav {
  display:flex !important;
  align-items:center !important;
  justify-content:center !important;
}


