<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Statistics</h5>

                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <!-- Bar Chart start -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Number of contributions by each faculty in {{ semester.name }}</h5>
                                    <span></span>
                                </div>
                                <div class="card-block">
                                    <div id="morris-bar-chart"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Bar Chart Ends -->


                        <!-- Donut chart start -->
                        <div class="col-xl-9 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Percentage of contributions within each faculty in {{ semester.name }}</h5>
                                    <span></span>
                                </div>
                                <div class="card-block">
                                    <div id="donut-example"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Donut chart Ends -->
                        <!--  chart start -->
                        <div class="col-xl-3 col-md-12">
                            <div class="card">
                                <div class="text-center">
                                    <div class="card-body text-success">
                                        <h3 style="font-weight: bold;">Contributions without a comment</h3>  
                                        <p class="card-text" id="num1" style="font-size: 2.2rem; color: #37474f; font-weight: bold"></p>                                                                      
                                    </div>                                
                                </div>
                            </div>     
                            <div class="card">
                                <div class="text-center">
                                    <div class="card-body text-danger">
                                        <h3 style="font-weight: bold;">Contributions without a comment after 14 days</h3>  
                                        <p class="card-text" id="num2" style="font-size: 2.2rem; color: #37474f; font-weight: bold"></p>                                                                      
                                    </div>                                
                                </div>
                            </div>                                                   
                        </div>
                        <!--  chart Ends -->
                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>